
<div class="header">
  <ul>
    <li><h1>{{title}}</h1></li>
    <ng-template [ngIf]="user != ''">
      <li style="float: right;"><h1>Welcome, {{user}}!</h1></li>
    </ng-template>
  </ul> 
</div>

<ng-template [ngIf]="user != '' ">
  <div>
    <nav>
      <div class="navbar">
        <ul>
          <li>
            <ng-template [ngIf]="user == 'admin'">
              <div>
                <a routerLink="/admin">Admin Page</a><br>
              </div>
            </ng-template>
          </li>
          <li><a routerLink="/dashboard">Dashboard</a><br></li>
          <li><a routerLink="/leaderboard">Leaderboard</a><br></li>
            <ng-template [ngIf]="user != 'admin'">
              <div>
                <li><a routerLink="funding-basket">Funding Basket</a></li>
                <li><a routerLink="requests">Requests</a></li>
              </div>
            </ng-template>
            <ng-template [ngIf]="user == 'admin'">
              <div>
                <li><a routerLink="requests-admin">Requests</a></li>
              </div>
            </ng-template>
            <li style="float: right; " class="navbtn"><button type="button" class="navbtn" (click)="logout()">
              Logout
            </button></li>
        </ul>
      </div>
    </nav>
  </div>
</ng-template>
<div >
<router-outlet></router-outlet>
</div>
<app-messages></app-messages>