<h2>Needs</h2>
<div *ngIf="needs.length; else noNeeds">
  <ul class="needs">
    <li *ngFor="let need of needs">
      <a routerLink="/detail/{{need.id}}">
        <span class="badge">{{need.id}}</span> {{need.name}}
      </a>
      <ng-template [ngIf]="user == 'admin'">
        <div>
          <button type="button" class="delete" title="delete need"
        (click)="delete(need)">x</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>


<ng-template #noNeeds>
  <h1> No Needs available right now!</h1>
</ng-template>