/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 1px;
    padding: 10px;
    width: 95%
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 50px;
    width: 95%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 17px;
  }

  .requests li {
    position:sticky;
    cursor: pointer;
    width: 95vw;
  }
  
  .requests li:hover {
    left: .1em;
  }
  
  .requests a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color:darkgray;
    margin: .5em;
    padding: .3em .1em .1em;
    border-radius: 4px;
    width: 100%;
  }
  @keyframes fade {
    0%   {background-color: #525252;}
    100% {background-color: #00aaff8e;}
  }
  
  .requests a:hover {
    color: #02547d;
    background: #056697;
    background-size: 400% 400%;
    animation: fade 1s forwards;
  }
  
  .requests a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .add-button {
   padding: .5rem 1.5rem;
   font-size: 1rem;
   margin-bottom: 2rem;
  }
  
  .add-button:hover {
    color: white;
    background-color: #42545C;
  }
  
  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color:  #525252;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
  }