/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
    font-size: 10px;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar .navbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: .45em 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a,h1 {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111111;
}

.container {
    display: grid;
}