<div *ngIf="need">
  <h2>{{need.name | uppercase}} Details</h2>
  <ng-template [ngIf]="user == 'admin'">
    <div><span>id: </span>{{need.id}}</div>
  </ng-template>
  <div>
    <label for="need-name" class="underline">Need name: </label>
    <ng-template [ngIf]="user != 'admin'">
      <p>{{need.name}}</p>
    </ng-template>
    <ng-template [ngIf]="user == 'admin'"><div>
      <input id="need-name" [(ngModel)]="need.name" placeholder="Need name"/>
    </div></ng-template>
  </div>
  <div>
    <label for="need-cost " class="underline">Need cost: </label>
    <ng-template [ngIf]="user != 'admin'">
      <p>{{need.cost | currency}}</p>
    </ng-template>
    <ng-template [ngIf]="user == 'admin'"><div>
      <input id="need-cost" [(ngModel)]="need.cost" placeholder="Need cost"/>
    </div></ng-template>
  </div>
  <div>
    <label for="need-quantity" class="underline">Need quantity: </label>
    <ng-template [ngIf]="user != 'admin'">
      <p>{{need.quantity}}</p>
    </ng-template>
    <ng-template [ngIf]="user == 'admin'"><div>
      <input id="need-quantity" [(ngModel)]="need.quantity" placeholder="Need quantity"/>
    </div></ng-template>
  </div>
  <div>
    <label for="need-type" class="underline">Need type: </label>
    <ng-template [ngIf]="user != 'admin'">
      <p>{{need.type}}</p>
    </ng-template>
    <ng-template [ngIf]="user == 'admin'"><div>
      <input id="need-type" [(ngModel)]="need.type" placeholder="Need type"/>
    </div></ng-template>
  </div>
  <button type="button" (click)="goBack()">Go Back</button>
  <ng-template [ngIf]="user == 'admin'">
    <button type="button" (click)="save()">Save</button>
  </ng-template>
  <ng-template [ngIf]="user != 'admin'"><div>
    <button type="button" (click)="addToBasket()">Add to basket</button>
  </div></ng-template>


</div>