<h2>Funding Basket</h2>
<h2>Total lifetime donations: {{total|currency}}</h2>
<button type="button" class="needs" title="delete need"
            (click)="checkout()">Checkout!</button>
<div class="funding-basket">
  <ul class="needs">
    <li *ngFor="let need of needs">
      <div>
        <button type="button" class="delete" title="delete need"
      (click)="delete(need)">x</button>
      </div>
      <a routerLink="/detail/{{need.id}}">
        <div class="grid-container">
            <div>Name:<br>{{need.name}}</div>
            <div>Cost:<br>{{need.cost  | currency}}</div>
            <div>Quantity:<br>{{need.quantity}}</div>
            <div>Type:<br>{{need.type}}</div>
        </div>
      </a>
    </li>
  </ul>
</div>


